.headerSecuredDesktop-logo:before {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMQAAAA1CAMAAAAptrTlAAAAflBMVEUAAAD////Y2NjR0dFeXl6urq75+fmenp42Nja6urrn5+f19fW/v7/x8fEiIiIlJSUcHBxsbGynp6dxcXHg4OBNTU3o6Oh3d3dmZmZERETJycmSkpLS0tItLS2Dg4MZGRkRERGJiYkzMzNVVVVHR0c8PDyhoaFZWVmFhYUMDAyfy4AmAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4gkHCQMJWr+aCQAACNpJREFUaN7VWtliqzgMZSdsIexgCgkhZPn/Hxxb8kZu2pu26UzHDyWAsXVs6fhYrmF8VIZr04x74/ky5XnuGK8tSx/EwTe+z0xauicq7na7LbtatP6ZXrf0wcOKt3ffvFdcZoP5DRAO+37zREVRz6bX3jA6evEeVhzpG/szJjTmvwbCo/UGPhM+9YB3QTCb3j5jAmEmlMm/CcJpmqZ7KYiSO+jrQKQH7eVh6VIdhB4i74JgUUZUe0v6oM6hu1SSTWr6weUVIBYSx64xs5lN8gEDtA/ZOy9uDaPKz+y3m/eGS4jdzHnA7s95kb4RQiDibwF9c2py1kad5y1rPGbQPZLdRY0FQRD2NwrSPUcM9dndfxtExRpdMMLM5MjYpzRFcZHDwHUhJvqruM9T9hcG+5bQX3Mg3tDgz2ULsTa/ByIfl4OxkTfb14BIRHvMG95MVcZW/AqBnaZJgtiq/usVCJ8zJ0eherS1x+VBgUhfAoK22Tc4eoMx078RdYmOTYg1jIw4zelaIMUu157dN9M8rEE485XZXo5TB7NnTc4EzjPqDGyWU4s+5Rpjwbw2b66314AoZSczDGPO7jeclthlp9aJgQf2cQ2Cwi74OlHKAGezk+hhDB0ZMRunDkk7e0VgA4hC0lALHUcFC45TVc0HRbEchKDYzR8gOMWCnx0lk5kV9lfhGIHYYO47IYjiVSCSQQPRY4jbrnO3TjwLgnlT0lWsnNikXLGZXpsV1lTwahAHaa2DFx6U1VMgbmsQvbkuviFdS4iSAD3rp0BQWxaNnsYvzIR/ByI3ZCAQTfj9LAj6yq0jbsHmazNRTr0sjjLcMhQg64dB0NKNAbjV+QkQQ7ICUWjW3mlcIVcs4Nifi4mBigkyy67IuyBSyTagqDkIm7PTwuUULcgaCLqBnzP/+WMgdjWOEg8/Fx8f1yBMUZ1F6inSQFgcfLnITc9RoySPUcXCuqh3P8lOIB/ios0CPtTssUUFoA6C5BnuBkJiIZtxEGacOyBVkmDyS1MOCC0XUJUkjwH0ZPwkiK2nMQujk5ALQA5iLzinkDrIRhCOoFSdn2wlKvK7hl8Agu+xmX96O7kPpSpgKdddZRyE2ML0XOAKW0N4k3H/g3WhTZQO1kpvrh/XMkq+WoamKIq9saUXrl+yomggCtv4rSwtOz/xmqMbuJPh0PqQWOh6es9obPGJHVMrHPHhqQ9cF7Y5DbFYC3c7x21vW2Vp5zzsW/rd8Vl7081m+CTE/e7wzWzMbftws3PYfWkP1NtlkoRW0Bm/sWSu645/qzSqOCWfnY6bQ2k+/VkQ+Wpj/lF6ihfvk5ORht8W/H8tPgraD10JjI/CskaB/bkOdpR2POe/BnEA0wNGBm2oyeL/FYhAk8KwlkUyV5pm72V80jZblFDzKjEgWe/3rVbv2DZZtf60ajKNVKusadcMus+wga3TZN0KRFpc23eWgkh3oR7VQQzbBJ6bSJDvIBEDC+iygJqoG7bolQx3WMZ00T2JdEvAzer5ekZY31vT8yJjhEchBtEiesiPPDR79pdlCDPMPnnuRoKIcQmk1iQq0HEHcll50JGSGV2J2KuC9eCpTS+B3Aprey7lVqYTfEBFnRNJdkg6mUaVeSYmXGuZ3WFKoqpXdMJAXHNUjEqU1Be8c4nqidWsB6kgRhh7795rKAgPRomEYv1Pcf1nIKReMCcNxEHXU4lxtwXdAohI1gm3QnBJ8cJMg05tkQrniuVuH9ijAIPJ7FAuB6so0HZV7HmdT2L3MqNpOMtuM+LAGBumorzieMRvqF90ARc+NV92GhytLW7J5xTp44I+MN2MLZiwEUzvhTHsoLxpcQhqWQQxbVOfT0UphjbH1Bt5xKpgUM3cqBX+dFYbLdzanbGDfYkzeVJuiUal8lghgDdbqRYrDybVlbm/GmQmgEhakd1yRE48RhCFaKrGqUnE/qPBy2MQg0ytT/zaIohYMVkgKXZSFNBF0KdzuQAxHUMFIpNGj8ZyuVwGKRg4iEoEE+b/p7AsEUQpTwYSvl+pMEkXGR/MxJta8ukEdnSGS77RahQ3EwlCT1SUgrS3bR/YkalAoD4JZeZyac4EPbQT6Q0O0r9bJ4jcG0TqMCfjQ/puTHCVz9wkSmEIXP41V99ngCdAWNpq84Zt8yS9qYE46CBuuaIIDiKWGfTm4WInQPg4tDGf3En6H3xP1VyBQZprWQdcMzp+t6imFYhS+8QGc3ighkCOHMReA3FAdoosP5EgwNT930EAtRoH2mm4F+nPfHXMN69AYAsRn2pLJU7dlTsRLUUPgMBv7eKU6oGtg2Dfe7mz3Iw7EHA/fgyCTXYzi+eQuTD144FktwIBR1c78cDClUv8VIHtI6XLHFPmypRk/BhEInKwwz2IUP4abULyRyCYA7mFXIl9mbfnvuUaKxAAOhBsxSwPbzIxMSGIi8oTiRZBmmCeOHoEornJRFlm3oGAFXkveCp4BCKNMPlQ8s0lsEfSX6oiFkfGKxC9OMsSIEx7Ng5NgnUZCDD+TZD5hIc/RPTsmg9BGGLFgR3JCgSsyCTles15BEJoGmFli1rA81R+eAUi9YT8ESBMr0bZc+YgojDmx0l1iG8WnI+g6UvTfOxO7IXXNy5KrpMGAi1MsCn7YUyIZJAUxI23Uib3IHCMvZPKkAqlZ6shsdZaqeGHJ2BMDDb8AUKeT9q1PH7iIDaKe5nQewTiCAhr7V9ApN60lGJ1jfVBmormatSncoChLmmcFEKVlqBLZrTEGjAPu1Npfn4I5Itm3qCBQOO3QRwdxLvVHrtRLBT/sYFLrwEhxD8JRkrTVGVN0lpRHh6h7UfXvcpT2U1btEi78zkmsS93QYUb52xUtmk67A3aJk8o0Hs41h/6OJ7oSN/o/XDb079q1e162lSPS5J6c1CNVJ9LCAwURLLoIH5DcZR7PFPOmiz6PSDe7lbED3NSKNCq3wXiHEPq/9l8l6946BeBsM1P5WVg7xN1+n/uFL/Dl0z76VRwEQTupHIs1773f0HCtg+CfJSnGv8AWRqQNK3vwTIAAAAASUVORK5CYII=) no-repeat bottom;
    content: "";
    height: 35px;
    width: 116px;
    background-size: 100%;
}

.headerSecuredDesktop-logo:after {
    display: none;
}

#ptSidebar {
    background: #000;
}

.headerSecuredDesktop-logo {
    background-color: #000;
}

.headerSecured-container {
    background: #000;
}

body #conversation-list-rows .conversation.read {
    background: #fff;
}

body #conversation-list-rows .conversation {
    background: #f2f2f2;
    border-bottom: 1px dashed #20C20E;
}

.conversation.marked:before {
    background-color: #20C20E;
}

.pm_toolbar {
    -webkit-box-shadow: inset 0 -1px 0 #20C20E;
     box-shadow: inset 0 -1px 0 #20C20E;
}

.sidebarApp-container .sidebar-btn-compose {
    background: #43434f;
    border-color: #43434f;

}
.sidebarApp-container .sidebar-btn-compose:hover {
    background-color: #20C20E;
}

.pm_button {
    border: 1px solid #43434f;
}

.sidebarApp-container .footer div.storage strong {
    color: #43434f;
}

.navigation>li.active, .navigation>li:hover {
    border-color: #20C20E;
}
